@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500&family=Poppins:ital,wght@0,300;0,500;1,400;1,600&display=swap');

body {
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    background-color:#D6E4EF;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.logoPic {
    scale: 80%;
    margin-left: 0px;
    margin-right: 20px;
}

.logoTitle {
    font-size: 32px;
    font-family: 'Inter',sans-serif;
    font-weight: 600;
}

.logoPic, .logoTitle {
    margin-top: 40px;
}

/* .login {

    margin-top: 20px;
    width: 25%;
} */

.loginBox{
    padding: 24px ;
    background-image: linear-gradient(to bottom, #ffffff, #C6D1DC);
    width: 25%;
    /* height: 771px; */
    height: 80%;
    box-shadow: #646464;
    border-radius: 24px;
    box-shadow: 1px 10px 5px rgb(152, 152, 152);

}

.background {
    width: 100% ;
    height: 215px;
    border-radius: 16px;
}


.user img {
    margin-left: 30px;
    margin-top: -65px;
}

.welcome {
    font-family: 'Inter',sans-serif;
    margin-top: -40px;
    margin-left: 160px;
}

.robert {
    color:#ff0000;
    font-weight: 600;
}

.loginInputBox {
    padding: 20px;
    font-family: 'Inter', sans-serif;
    /* font-size: 16px; */
    /* font-weight: 600; */
}

.inputWrapper {
    padding: 10px;
}

.label {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
}

.input {
    width: 95%;
    height: 56px;
    padding-left: 20px;
    font-size: 16px;
    border: solid 1px #C6D1DC;
    background-color: #FFFFFF;
    border-radius: 8px;
}

.rememberWrap {
    display: flex;
    flex-direction: row;
    padding: 0px 24px;
    font-family: 'Inter',sans-serif;
    justify-content:space-between;
    margin-bottom: 24px;

}

/* .remember-me {
    position: relative;
    left: 2rem;
    top: -1rem;
} */

/* .forgot-password {
    margin-top: -1rem;
    margin-left: 9rem;
} */

.buttons1 {
    display: flex;
    flex-direction: column;
    font-family: 'Inter',sans-serif;
    align-items: center;
    justify-content: center;
}

.login-button {
    font-size: 16px;
    background-color: #D90327;
    color: #FFFFFF;
    width: 90%;
    height: 56px;
    margin-bottom: 1cqw;
    border-radius: 8px;
    border: none;
}

.robert-button {
    background-color: #ffffff00;
    width: 422px;
    border: none;
    font-size: 16px;
    font-weight: 600;
}

.buttons2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    justify-content: space-between;
    padding: 0 24px;
}

.user-button {
    margin-right: 24px;
    width: 199px;
    height: 48px;
    font-size: 16px;
    font-weight: 600;
    background-color: #2F3D4C;
    color: #FFFFFF;
    border-radius: 8px;
    border: solid 1px purple;
}

.signup-button {
    width: 199px;
    height: 48px;
    font-size: 16px;
    font-weight: 600;
    border: solid 1px purple;
    border-radius: 8px;
}


@media screen and (max-width: 992px) {
    .loginBox {
        width: 100%;
        padding: 0 24px;
        border-radius: 0;
        height: 100%;
    }

    .background {

    }





}

